.so-widget-sow-features-default-aba7f3135d7e .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Lucida, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}